body {
  background-image: url("https://i.pinimg.com/originals/29/6b/74/296b744320e26e2fb1aa50f913fac431.gif");
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
  background-color: #FFC9DE;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  font-size: 1.2em;
}

header {
  background-color: #ffb7ce;
  padding: 20px;
  text-align: center;
  background-repeat: repeat;
  background-size: 100px 100px;
}

header h1 {
  font-size: 24px;
  font-weight: bold;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 20px;
}

section h2 {
  font-size: 20px;
  font-weight: bold;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 10px;
}

img {
  width: 100%;
  height: auto;
  max-width: 200px;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about p {
  text-align: center;
}

.contact {
  padding: 20px;
  background-color: #ffb7ce;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
}

.contact-form label {
  display: block;
  margin-bottom: 5px;
}

.contact-form input,
.contact-form textarea,
.contact-form select {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

.contact-form button {
  background-color:  #FFB6C1;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

footer {
  background-color: #f2f2f2;
  text-align: center;
  padding: 20px;
  background-color: #ffb7ce;
  background-repeat: repeat;
  background-size: 100px 100px;
}
.video-container {
  margin-top: 20px; /* Add margin-top to the video container */
  position: relative;
  width: 560px;
  height: 315px;
  margin: 20px auto;
}
ul, ol {
  list-style-type: disc;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 10px;
}

.gender {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.gender label {
  display: inline-block;
  margin-right: 10px;
}
.label {
  display: flex;
  align-items: center;
  gap: 10px;
}

input[type="checkbox"] {
  margin: 0;
}

#newsletter-checkbox-label {
  display: inline-block;
  margin-right: 5px;
}
.bigger-button {
  font-size: 200%;
  padding: 10px;
}
